.input{
    display: inline-block;
    border: none;
    box-shadow: 1px border-box;    
    padding: 10px 5px;    
    border-radius: 10px;
    margin-left: 0.7em;
}

.button{
    display: inline-block;    
    border: none;
    border-radius: 10px;
    padding: 11px 20px;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 15px;
    margin-left: 0.7em;
}

.button:hover{
    background-color: #1888ff;
    color: #fff;    
}