@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600&display=swap');
.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;    
    max-width: 65%;
    height: 55%;
    background-color: var(--primary-color);
    color: #fff;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
    text-align: center;
    opacity: 0.95;
    margin-top: 1.5em;
    margin-left: 350px;
}
.title {
    font-size: 15px;
    text-align: center;
    margin: 1rem 0;
}
.content {
    display: grid;
    gap: 2.5em;
}
.group {
    position: relative;    
}
.group input {
    width: 15%;
    padding: .3em .5em;
    border: none;
    outline: none;
    border-radius: 10px;
    border-bottom: 3px solid var(--secondary-color);
    margin: 1.5em 1.5em;
}
.group textarea {    
    width: 100%;    
    min-width: 75%;
    padding: .3em .3em;
    border: none;
    outline: none;
    border-radius: 10px;
}
p.danger {
    color: red;
    font-size: 12px;
}
input.danger {
    border: 2px solid red;
}
.button {
    background: var(--secondary-color);
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
    border: none;
    border-radius: 10px;
    margin-top: 2.5em;
    margin-left: 2.5em;
    padding: .2em 1.5em;
}
button:hover {
    background: var(--secondary-color);
    color: var(--card-color-text);
    box-shadow: 0 0 35px var(--terciary-color);
}

button:disabled{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
button:disabled:hover{
    background: var(--secondary-color);
    color: var(--primary-color);
    box-shadow: 0 0 35px var(--terciary-color);
}
.confirmation {
    margin-right: 50px;
    text-align: center;
    font-size: 20px;
    color: #1e9bff;
}
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10px;
    font-size: medium;
    border: 2px solid var(--secondary-color);
    padding: 10px;
}
.container li {
    list-style: none;
}
.submit {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}
.item {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: flex-end;  
}
.links {
    text-decoration: none;
    border-radius: 4px;
    font-size: medium;
    color: #fff;
    background-color: var(--secondary-color);
    border-radius: 10px;
    margin-top: 2.5em;
    margin-left: 2.5em;
    padding: .2em 1.5em;
}
.links:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
    box-shadow: 0 0 35px var(--terciary-color);
}