.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.container button {    
    color: #fff;
    background-color: black;
    margin: 2rem 2.5rem;
    padding: 0.5rem 1.5rem;
}
.container label {
    font-size: 15px;
}